<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间，和接口关联-->
<mapper namespace="net.wanho.mapper.RoleMapper">


    <delete id="deleteRole">

        DELETE FROM tb_role WHERE rId=#{rId}

    </delete>
    <delete id="deleteRelationRolePer">

        DELETE FROM per_role WHERE rId=#{rId}

    </delete>
    <delete id="deleteRelationUserRole">

        DELETE FROM user_role WHERE rId=#{rId}

    </delete>
</mapper>